### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
go-cp
go-envdir
go-telnet

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### User defined
.idea/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
*.bak

### Временно скрываю
hw06_testing
hw07_word_counter
hw08_binary_search
hw09_serialize
hw10_motion_sensor
hw11_worker_pool
hw12_log_util
hw13_http
hw14_sql
hw15_go_sql
hw16_docker
img
